@import url('https://fonts.googleapis.com/css?family=Montserrat|Space+Mono');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Space Mono', monospace; */
/* pink: #FBDDDB */

body {
  font-family: 'Montserrat', sans-serif;
  background: #FFAFBD;
  background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);
  background: linear-gradient(to right, #ffc3a0, #FFAFBD);
}

background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

h1, h2, h3 {
  font-family: 'Space Mono', monospace;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  display: flex;
  margin: 10px;
  font-family: 'Space Mono', monospace;
  justify-content: space-between;
  /* position: fixed; */
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  justify-content: space-between;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

.side {
  padding: 15px;
}

h1 {
  font-size: 50px;
  margin: 0;
}

.name {
  text-align: center;
}

.name p {
  font-size: 25px;
}

.icon {
  font-size: 100px;
}

.main {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-areas:
    "about"
    "projects"
    "skills"
    "contact"
    "footer";
}

.about {
  grid-area: about;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255,255, 255, 0.4);
  padding: 40px;
  margin: 20px;
  height: auto;
}


.about-icon {
  font-size: 100px;
  width: 100%;
  text-align: center;
}

.about-content {
  grid-area: text;
  font-size: 20px;
  margin: 0 auto;
  width: 100%;
}

.about p {
  margin: 0 auto;
}

.projects {
  grid-area: projects;
  background-color: rgba(255,255, 255, 0.4);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.projects h3 {
  text-align: center;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-image {
  text-align: center;
  width: 100%;
  /* padding-left: 20px; */
}

.image {
  height: 150px;
  width: 200px;
  padding: 25px;
}


.image:hover {
  transform: scale(1.1);
}

.description {
  grid-area: text;
  margin: 0 auto;
  width: 100%;
  padding: 25px;
}

a.button {
    /* display: flex; */
    text-decoration: none;
    color: initial;
    font-family: monospace;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    margin-right: 10px;
    /* width: 100%; */
}

a.button:hover {
  background-color: #eee;
}

.buttons {
  text-align: center;
}

.skills {
  grid-area: skills;
  background-color: rgba(255,255, 255, 0.4);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.skill {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  align-items: center;
}

.box {
  height: 150px;
  font-size: 1.2em;
  border: solid white 2px;
  line-height: 150px;
  margin: 10px;
  border-radius: 12px;
}

.box:hover {
}


.cv {
  text-decoration: none;
  color: black;
}

.cv:hover {
  color: white;
  text-decoration: underline;
}

.contact {
  grid-area: contact;
  background-color: rgba(255,255, 255, 0.4);
  padding: 20px;
  margin: 20px;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "icon contact";
  align-items: center; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.fa-comment-alt {
  font-size: 100px;
  width: 100%;
  text-align: center;
}

.contact-icon {
  text-align: center;
  width: 100%;
}

.links {
  align-items: center;
  padding: 40px;
  font-size: 20px;
  margin: 0 auto;
  width: 100%;
}


.links a {
  text-decoration: none;
  color: black;
  margin: 0 auto;
}

.links a:hover {
  text-decoration: underline;
  color: white;
}

.links i {
  font-size: 25px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 12px;
}

#myBtn:hover {
  background-color: black;
}

.fa-arrow-alt-circle-up {
  font-size: 25px;
  color: #ccc;
}

footer {
  text-align: center;
  grid-area: footer;
  background-color: rgba(255,255, 255, 0.4);
  padding: 20px;
  margin: 20px;
}
